<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<link rel="stylesheet" href="estyles/estilologin.css">
<title>Gestor</title>
</head>
<body>
	<section class="area-login">
		<div class="login">
			<div>
				<img src="/imagem/logodosistema.png">
			</div>

			<form method="POST">
				<br><label>Usuário:</label><input type="text" name="nome"><br>
				<label>Senha:</label><input type="password" name="senha"><br>
				<input type="submit" value="Acessar">
			</form>
			<p>
				<a href="#">Primeiro acesso</a><br>
				<a href="#">Esqueci minha senha</a>
			</p>
		</div>
	</section>
</body>
</html>